@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

table,
th,
td {
    border: 1px solid black;
}
/* Custom styles for React DatePicker */

.rmdp-input {
    padding: 20px 10px !important;
}

.react-calendar {
    background-color: inherit !important;
    border: none !important;
    width: 100% !important;
}
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
    display: none !important;
}
.react-calendar__month-view__days__day--weekend {
    color: black;
}
.react-calendar__tile--active {
    background-color: yellow !important;
    color: black;
    border-radius: 4px;
}
.PhoneInputInput {
    border: none;
    outline: none;
    background-color: inherit;
}
