@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

table,
th,
td {
	border: 1px solid black;
}
/* Custom styles for React DatePicker */
.react-datepicker {
	width: 100%; /* Full width for small screens */
}

.react-datepicker__month-container {
	width: 100%; /* Ensuring the container takes full width */
}

.react-datepicker__day {
	width: 30px;
	height: 30px;
	padding-top: 3px;
}

.react-datepicker__day--selected {
	background-color: #fed92e;
}
.react-datepicker__day--selected:hover {
	background-color: #ffc107;
}

@media (min-width: 768px) {
	/* Tailwind's md breakpoint */
	.react-datepicker {
		width: 300px; /* Fixed width for medium screens and above */
	}
}
.slick-slide {
	transition: transform 0.5s ease-in-out; /* Adjust duration and easing here */
}

.slick-active {
	transform: scale(0.8);

	transition: transform 0.5s ease-in-out; /* Adjust duration and easing here */
}
